<!DOCTYPE html>
<html ng-app="gravitationApp">
<head>
    <title>Gravitation</title>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width, 
                   user-scalable=no, 
                   minimum-scale=1.0, 
                   maximum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.4.0/math.min.js"></script>
    <script src="resources/integrator.js"></script>
    <link rel="stylesheet" href="style.css?v=13">
</head>
<body ng-controller="MainController as main" oncontextmenu="return false;">


<div id="creationOptions" class="gui" ng-show="main.creation">
  <div class ="row">
    <label>
      Name: <input type="text" ng-model="main.newName" placeholder="Name">
    </label>
    <label>
      Mass: <input type="text" ng-model="main.newMass" placeholder="Mass">
       in 10^23 kg
    </label>
  </div>
<div class ="row">
    <label>
      Radius: <input type="text" ng-model="main.newRadius" placeholder="Radius"> in km
    </label>
    <label>
      Start velocity: {{main.newVelocity.toFixed(2)}}
       in <a 
href="https://en.wikipedia.org/wiki/Astronomical_unit"
target="_blank">AU</a> per year
    </label>
  </div>
</div>
<div id="menu" class="gui">
    <div class='row'>
      See the <a href="article.html">article</a> to get more information...  
    </div>
    <div class='row'>
        <label>
            <input type="checkbox" ng-model="main.showAxes" ng-change="main.toggleAxes()">
            Toggle Axes
        </label>
        <label>
            <input type="checkbox" ng-model="main.showGrid" ng-change="main.toggleGrid()">
            Show ecliptic plane
        </label>
    </div>
    <div class='row'>
        <label>
            <input type="checkbox" ng-model="main.showTraj" ng-change="main.toggleTraj()">
            Toggle trajectories
        </label>
    </div>
    <div class='row'>
        <button ng-click="main.resetCamera()">Reset Camera</button>
        <button ng-click="main.createBody()">Create Body</button>
        <button ng-click="main.togglePause()">Pause Simulation</button>
    </div>
    <div class='row'>
      <label>{{frameRate}} Frames per Second</label>
    </div>
    <div class='row'>
      <label>Simulation Speed</label>
      <select ng-model="main.simSpeed" 
              ng-options="option.name for option in main.availableSpeeds">
      </select>
    </div>
</div>

<div id="bodies-list" class="gui">
  <button ng-click="main.toggleBodiesList()">Toggle List</button>
  <div ng-show="main.bodiesListShown">
  <div id="table-wrapper">
    <div id="table-scroll">
      <table>
        <thead>
          <tr>
            <th align="left"><span class="text">Name</span></th>
            <th align="left"><span class="text">Mass</span></th>
            <th align="left"><span class="text">Radius</span></th>
            <th align="left"><span class="text">Position (x,y,z)</span></th>
            <th align="left"><span class="text">Velocity magnitude</span></th>
            <th width="150px"></th>
          </tr>
          <tr>
            <td></td>
            <td><i>in Jupiters mass</i></td>
            <td><i>in <a 
href="https://en.wikipedia.org/wiki/Astronomical_unit"
target="_blank">AU</a></i></td>
            <td><i>in AU</i></td>
            <td><i>in AU per year</i></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="body in main.bodies" ng-click="main.track(body)">
            <td>{{body.name}}</td>
            <td>{{body.mass.toFixed(8)}}</td>
            <td>{{body.radius.toFixed(5)}}</td>
            <td>({{body.formatPosition()}})</td>
            <td>{{body.formatVelocity()}}</td>
            <td>
              <button ng-click="main.remove(body)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<script src="app.js" type="module"></script>
</body>
</html>
